# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test-api:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:10.6
        env:
          MYSQL_ROOT_PASSWORD: 123
          MYSQL_DATABASE: vteam
          MYSQL_USER: vteam01
          MYSQL_PASSWORD: vteam
        ports:
          - "3306:3306"

    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Insert database data
        run: mysql --local-infile=1 -h 127.0.0.1 -P 3306 -u vteam01 -pvteam vteam < db/init.sql
      - name: Run tests
        run: npm test -- --watchAll=false
      - name: linter
        run: npm run lint
